{% extends 'index.html' %}
{% block content %}
<div class="flex ">
  <!-- Sidebar -->

  <aside class="w-64 bg-gray-800 text-gray-500 text-white min-vh-100">
    <div class="p-6">
      <h1 class="text-xl font-semibold">Dashboard</h1>
    </div>
    <nav class="flex flex-col mt-6">
      <a href="/admin/dashboard/" class="p-4 hover:bg-gray-700 no-underline text-white">Home</a>
      <a href="/admin/allUsers/" class="p-4 hover:bg-gray-700 no-underline text-white">All Users</a>
      <a href="/admin/glucoResults/" class="p-4 hover:bg-gray-700 no-underline text-white">Gluco Result</a>
      <!-- <a href="#" class="p-4 hover:bg-gray-700 no-underline text-white">Contact</a> -->
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1">
    <header class="bg-white shadow-sm px-6 py-4">
      <div class="flex flex-col sm:flex-row justify-between items-center">
        <h1 class="text-lg sm:text-xl font-semibold mb-2 sm:mb-0 sm:mr-4">Welcome to the GlucoQR Dashboard</h1>
        <a href="/admin/logout/" class="bg-gray-800 hover:bg-blue-900 text-white py-2 px-4 rounded no-underline">Logout</a>
      </div>
    </header>
    <div class="p-6">
      {% block dashcontent %}

      {% endblock %}
    </div>
  </main>
</div>
{% endblock %}